---
version: 2

updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: weekly
    groups:
      python-minor-versions:
        applies-to: version-updates
        update-types:
          - "patch"
